body {
    background: #F5F8FF;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-image: url('../Assets/Hero-bg.png');
    height: 680px;
}

.primary-btn {
    border-radius: 4px;
    background-color: blue;
    color: white;
    border: none;
}
.primary-btn:hover {
    background-color: black;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 300px;
    padding: 60px 0px 0px 0px;
}

header nav h1 {
    font-size: 30px;
    color: blue;
    font-family: arial !important;
    font-weight: 800;
}

.header-div 
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 200px;
}

.header-div h1 {
    font-size: 50px;
}

.para-secondary {
    font-size: 12px;
    color: gray;
    margin: 0px;
}

.demo-preview-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 200px 300px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
}

 .users-statistics-box   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(79, 71, 225, 0.156);
    width: 800px;
    margin: 100px auto;
    border-radius: 15px;
    padding: 35px 55px;
}

.stats-flex-box {
    display: flex;
    gap: 120px;
}

.stats-number {
    margin: 0px;
    color: #4E47FF;
}


.reviews-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.review-card-wrapper {
    display: flex;
    gap: 30px;
}

.single-review-card {
    width: 280px;
    height: 180px;
    background-color: white;
    padding: 20px !important;
    border-radius: 12px;
    border: 1px solid #F2EDED;
}

.card-img {
    border-radius: 100%;
    height: 40px;
}

.reviewer-details {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}